{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Calculator/Style.css' %}">
    <title>| Pedantic |</title>
</head>
<body>
    
    <div class="main-container">
        <div class="nav-bar">
            <ul class="nav-bar-left-items">
                <li>About</li>
                <li>Colors</li>
                <li id="hire">Hire Me</li>
            </ul>
            <div class="led-container">
                <div class="led"></div>
            </div>
        </div>

        <div class="mid-section">
            <div class="container">
                <div class="result" id="out-put">{{result}}</div>


                <form action="" class="all-inputs" method="POST" action="sub" id="main_form">
                    {% csrf_token %}
                    <div class="bar barrier-2">
                        <div class="bar bar-1"></div>
                        <div class="bar bar-2"></div>
                    </div>
                    <div class="bar barrier">
                        <div class="bar bar-1"></div>
                        <div class="bar bar-2"></div>
                    </div>
                    <div class="inputs left-input">
                        <input type="text" placeholder="?" id="first-number" name="num1" maxlength="5">
                    </div>
                    <div class="mid-inputs">
                        <div class="calc-type">
                            <input type="text" placeholder="X" id="calc-5" name ="types" maxlength="1">
                        </div>
                        <button class="calc-btn" id="small_calc_eq">=</button>
                    </div>
                    <div class="inputs right-input">
                        <input type="text" id="second-number" name="num2" placeholder="?" maxlength="5">
                    </div>
                </form>
                <div class="num-pad">
                    <div class="left-side-numbers">
                        <div class="rows row-1">
                            <div class="numbers num-1" id="num-1">1</div>
                            <div class="numbers num-2" id="num-2">2</div>
                            <div class="numbers num-3" id="num-3">3</div>
                        </div>
                        <div class="rows row-2">
                            <div class="numbers num-4" id="num-4">4</div>
                            <div class="numbers num-5" id="num-5">5</div>
                            <div class="numbers num-6" id="num-6">6</div>
                        </div>
                        <div class="rows row-3">
                            <div class="numbers num-7" id="num-7">7</div>
                            <div class="numbers num-8" id="num-8">8</div>
                            <div class="numbers num-9" id="num-9">9</div>
                        </div>
                        <div class="rows row-4">
                            <div class="numbers num-0" id="num-0">0</div>
                        </div>
                    </div>
                    <div class="right-side-options">
                        <div class="right-rows row-1">
                            <div class="options op-1" id="op-1">+</div>
                            <div class="options op-2" id="op-2">-</div>
                        </div>
                        <div class="right-rows row-2">
                            <div class="options op-3" id="op-3">x</div>
                            <div class="options op-4" id="op-4">÷</div>
                        </div>
                        <div class="right-rows row-3" id="equals">
                            <button type="submit" form="main_form" class="options op-5" style="color: white;">=</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tool-tip">
            <div class="bar bar-4"></div>
            <div class="bar bar-3"></div>
            <h3>Patch Note</h3>
            <p class="first-func"><a>[!]</a> A numpad was added for convenience.</p>
            <p><a>[!]</a> The equals button on the numpad is now functional.</p>
            <p><a>[?]</a> Result number for Division is now rounded.</p>
        </div>

    </div>


    <script src="{% static 'Calculator/apps.js' %}"></script>    
</body>
</html>